click>=8.1.7
crewai==0.130.0
crewai-tools==0.47.1
fastapi==0.110.3
Jinja2==3.1.4
jsonschema==4.22.0
langchain-community==0.2.5
langchain-core==0.1.52
langsmith==0.1.67
numpy==1.26.4
pandas==2.2.2
pillow==10.3.0
pip==24.0
protobuf==4.25.3
pydantic>=2.4.2
pydantic_core==2.8.0